<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center justify-content-center" routerLink="">
      <div class="navbar-logo-container">
        <img src="assets/images/logo.png" class="navbar-logo" />
      </div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngFor="let item of menuItem" class="nav-item">
          <a class="nav-link" [routerLink]="item.path" routerLinkActive="active">{{ item.label }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
